* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 100px;
    background-color: #E5E9F9;
    overflow: hidden;
    position: relative;
    height: 100%;
}
